---
layout: home_helper
title: Home
---

  <span>
  <h2>Welcome,</h2><br><br>
    <p>Here you can see some of my projects and get to know me<br><br>
    
    You can find all the codes in my <strong><a style="text-decoration: none" href="http://www.unimelb.edu.au/">Github</a></strong> or <strong><a style="text-decoration: none" href="http://www.unimelb.edu.au/">Kaggle</a></strong>.<br><br>
    I hope you have fun, any questions feel free to contact
  </p>
  <span>

<!--
{% for post in site.categories.projects %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }} <h4>Start Date: {{ post.created }}</h4> </span></h2>
    </div>
  </a>
{% endfor %}


{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}  <h3 style:"color:white">Start Date: {{ post.created }}</h3></span></h2>
    </div>
  </a>
</article>

{% endfor %}

 Pagination links
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
 -->
</div>
